/**
 * 14.2 Galleries
 */

.gallery {
  margin: $baseline-height * 1.5 auto;
}

.gallery-item {
  display: inline-block;
  padding: $baseline-height / 2;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: $color-gray-40-blue;
  display: block;
  font-family: $primary-font-stack;
  font-size: 12px;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */

.tiled-gallery {
  margin: $baseline-height * 1.5 auto !important;

  .gallery-row {
    margin: 0 auto;
  }
}