/*
Theme Name: Author Child
Theme URI: https://github.com/chriskthomas/author-child
Author: Chris K. Thomas
Author URI: https://chriskthomas.com
Template: author
Description: A child theme of Author by Compete Themes.
Version: 1.53
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, left-sidebar, accessibility-ready, custom-logo, custom-menu, featured-images, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, education, news, wide-blocks
Text Domain: authorchild
Tested up to: 6.3
Requires PHP: 5.6.40
*/
